:root {
  --income-color: #027f15;
  --expense-color: darkred;
  --border-gray: lightslategray;
  --border-purple: #d3a9f2;
}
.App {
  text-align: center;
  width: 325px;
  height: 100vh;
  border-right: 5px solid var(--border-purple);
  display: flex;
  flex-direction: column;
  background-color: #fcfae8;
}

/* Components for add Transaction*/
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form input {
  width: 70%;
  border: 1px solid var(--border-gray);
  padding: 3px;
  border-radius: 2px;
  margin-bottom: 10px;
}
.submit {
  margin-top: 15px;
  background-color: var(--border-purple);
  border-radius: 4px;
  width: 70%;
  font-size: 16px;
  padding: 5px;
}

/* Component Transaction History */
.history {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  padding: 10px;
}
.output {
  display: flex;
  flex-direction: row;
  width: 315px;
  height: 30px;
}
.item {
  display: flex;
  flex-direction: row;
  border: 1px solid var(--border-gray);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
  font-size: 16px;
  height: 20px;
  width: 70%;
  margin: 0;
  background-color: white;
}
.right {
  text-align: right;
  width: 50%;
}
.expense {
  border-right: 10px solid var(--expense-color);
  border-radius: 3px;
  color: var(--expense-color);
}
.income {
  border-right: 10px solid var(--income-color);
  border-radius: 3px;
  color: var(--income-color);
}
/* Component Your Balance */
.balance {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  padding: 10px;
}
.grid {
  display: grid;
  height: 60px;
  grid-template-columns: auto auto;
  grid-gap: 30px;
  background-color: white;
  width: 70%;
  border-radius: 5px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
  margin-top: 0;
}
.grid #income {
  grid-column-start: 1;
  grid-column-end: 1;
  color: green;
}
.grid h3 {
  margin: 0;
  padding: 0;
  color: darkslategray;
}
.grid #expense {
  grid-column-start: 2;
  grid-column-end: 2;
  color: red;
}
.balance h1 {
  margin: 0;
  margin-bottom: 3px;
}
/* Styling for all heading icons */
.icon {
  border: 2px solid navy;
  border-top-right-radius: 20px;
  background-color: navy;
  margin-left: 20px;
  color: white;
  width: 40px;
  text-align: center;
  border-bottom: none;
  margin: 0;
  margin-right: 10px;
}
.icon.small {
  font-size: 12px;
}
/* Styling for all h4 titles */
h4 {
  border-bottom: 2px solid navy;
  width: 300px;
  margin: 0;
  text-align: right;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
}
/* Styling for pop-out icons */
.pop-out {
  visibility: collapse;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
.ghost-icon {
  margin-left: 25px;
  height: 20px;
  opacity: 0.8;
  text-align: center;
  border: 1px solid var(--expense-color);
  background-color: var(--expense-color);
  color: white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* style error messages */
.error {
  font-size: 14px;
  color: red;
  margin: 0;
}
.on-focus {
  font-size: 14px;
  color: black;
  margin: 0;
}
/* Remove arrows and spinners from default input settings */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
